<section class="flex min-h-0 flex-1 flex-col" aria-label="Posts">
  <app-posts-header [visibleSummary]="postsScrollHeaderSummary()" />
  <div
    class="flex min-h-0 flex-1 flex-col px-4 pb-4 focus-visible:outline-none"
    role="list"
    aria-label="Post list"
    appPostList
    [posts]="posts()"
    [virtualScroll]="postsVirtualScroll() ?? null"
    (activatePost)="openPost($event)"
  >
    @if (posts().length === 0) {
      <p class="my-8 mx-2 text-center text-[0.95rem] text-slate-500" role="status">
        No posts match the current filters.
      </p>
    } @else {
      <app-ui-virtual-scroll
        class="min-h-0 flex-1"
        [items]="posts()"
        [itemHeight]="postRowHeightPx()"
        [height]="'100%'"
        [buffer]="6"
        itemLabelSingular="post"
        itemLabelPlural="posts"
        (headerSummaryChange)="postsScrollHeaderSummary.set($event)"
      >
        <ng-template #itemTemplate let-post>
          <div class="box-border flex h-full min-h-0 flex-col px-0.5 pb-2">
            <app-post-list-item
              class="min-h-0 flex-1"
              [post]="post"
              [author]="userById().get(post.userId) ?? null"
              (pick)="openPost($event)"
            />
          </div>
        </ng-template>
      </app-ui-virtual-scroll>
    }
  </div>
</section>
<app-post-dialog></app-post-dialog>
